
/* шаблон для коммитов
"`LANG=en_EN date +'(%a, %b %d, %Y %r)'`" 
*/

html {
    font-size: 3vw;
}

body {
    background-color: #25272A;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

button {
    border: none;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;


}
@media screen and (min-width: 500px) {
    .container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: left;
        overflow-x: auto;
    }

    .card {
        width: 87vw;
        height: auto;
        margin-top: 5vw;
        margin-left: 6.5vw;
        margin-right: 6.5vw;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: top;
    }

    .meme-gif {
        width: 87vw;
        height: auto;
    }
    
    .meme-gif img {
        width: 100%;
        height: auto;
    }
    .controls {
        justify-self: center;
        width: 18vw;
        height: auto;
        margin-top: 5vw;
        display: flex;
        justify-content: space-between;
    }

    .control {
        display: block;
        width: 0.7rem;
        height: 0.7rem;
        border-style: solid;
        border-radius: 50%;
        background-color: #6BA2DB;
        border-width: 0.15rem;
        border-color: #6BA2DB;
    }

    .control:hover {
        background-color: #F7F9F8;
    }

    .control:focus {
        background-color: transparent;
        border-color: #6BA2DB;
    }
    .control:focus:hover {
        background-color: transparent;
        border-color: #F7F9F8;
    }

    .caption {
        margin-top: 5vw;
        font-size: 1.5rem;
        color: #F7F9F8;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media screen and (min-width: 1024px) {}